<html>
    <head>
        {% block stylesheets %}
	    <link href="{{ asset('bundles/testProject/css/main.css') }}" rel="stylesheet"  type="text/css"/>
	    <link href="{{ asset('css/twbs/bootstrap.css') }}" rel="stylesheet" />
	    {% endblock %}
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body>
      
          <div id="Project">
        {% block body %}
            {{ include('ProjectBundle::navbar.html.twig') }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                       New sprint
                    </h1>
                </div>
                <div class="panel-body">
            
            <form>
                <table align="center" id='table_sprint'>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <tr>
                <div class="form-group">
                
                <td>
                    <label for="description">{{ form_label(form.id) }}</label>   </td> 
			     <td>   {{ form_widget(form.id) }}</td>
			    </div>
			    </tr>


                <tr>
                <div class="form-group">
                    <td><label for="description">{{ form_label(form.description) }}</label>  </td>  
			       <td> {{ form_widget(form.description) }}</td>
			    </div>
			     </tr>


                 <tr>
			    <div class="form-group">
                   <td>  <label for="dateBeginging">{{ form_label(form.dateBegining) }}</label> </td>
			      <td>   {{ form_widget(form.dateBegining) }} </td>
			    </div>
			     </tr>


                 <tr>
                <div class="form-group">
                  <td>   <label for="dateEnd">{{ form_label(form.dateEnd) }}</label></td> 
			      <td>   {{ form_widget(form.dateEnd) }}</td> 
			    </div>
			    </tr>


               <tr>
               <td> <input class="btn btn-success" type="submit" ></td>
			   </tr>


                {# {{ form_label(form.create) }}
                {{ form_widget(form.create) }} #}
                {{ form_end(form) }}
                
            </table>
            </form>
        {% endblock %}
    </div>
 
    </body>
</html>
