<html>
<head>
	<link href="{{ asset('bundles/Project/css/main.css') }}" rel="stylesheet"  type="text/css"/>
	<link href="{{ asset('css/twbs/bootstrap.css') }}" rel="stylesheet" />
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body >
	<div id="Project">

		{% block body %}
		{{ include('ProjectBundle::navbar.html.twig') }}
		<div class="panel panel-default">
			<div class="panel-heading">
				{% if up %}
				<h3 class="panel-title">Update</h3>
				{% endif %}
				{% if up==null %}
				<h3 class="panel-title">Add</h3>
				{% endif %}

			</div>
			<div class="panel-body">


				{% if message %}
				<p>{{ message }}</p>
				{% endif %}

				<form action="" method="post" {{ form_enctype(form) }}>
					{{ form_start(form) }}
					<table id="Add_Form">

						<tr>
							<td class="Add_Form_Column"> {{ form_label(form.id) }} </td>
							<td class="Add_Form_Column"> {{ form_widget(form.id) }} </td>
						</tr>

						<tr>
							<td class="Add_Form_Column"> {{ form_label(form.name) }} </td>
							<td class="Add_Form_Column"> {{ form_widget(form.name) }} </td>
						</tr> 
						<tr>
							<td class="Add_Form_Column"> {{ form_label(form.description) }} </td>
							<td class="Add_Form_Column"> {{ form_widget(form.description) }} </td>
						</tr>


						<tr>
							<td class="Add_Form_Column"> <input class="btn btn-success" type="submit" /> </td>
						</tr>
					</table>
					{{ form_end(form) }}
					<a href="{{ path('user_profil')}}"class="btn btn-info" role="button">Back to your profil</a> 
				</form>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
